ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

label
{
	display: block;
	width: 300px;
	float: left;
}
  .bad_log {
    background: red;
    font-weight: bold;
    width: 120px;
    border-radius: 5px;
    margin: 10px 0px;
  }
  .good_log {
    background:green;
    font-weight: bold;
    color: white;
    width: 140px;
    border-radius: 5px;
    margin: 10px 0px;
  }

  .container {
    text-align: center;
    margin: 80px 150px;
  }

  input {
    margin-bottom: 10px;
  }

  .danger {
    padding: 9px 0;
    background: red;
    color:white;
    font-weight: bold;
    text-align: center;
  }
  .success {
    padding: 9px 0;
    background:green;
    color:white;
    font-weight: bold;
    text-align: center;
  }

  .sized {
    width: 200px;
  }

  .little {
    font-size: 10px;
    display: block;
  }